:root{
    --tosca:#20b2aa;
    
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.5s linear;
}

html {
    font-size: 63%;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
    overflow-x: hidden;
}

section{
    padding: 2rem 9%;
}

.btn{
    display: inline-block;
    margin-top: 2rem;
    background: #333;
    color: #fff;
    padding: 1rem 2.3rem;
    border-radius: 5rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.btn:hover{
    background:var(--tosca)
}

header {
    position: fixed;
    top: 0; left: 0; right: 0;
    padding: 20px 70px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

header .logo{
    font-size: 3rem;
    color: rgb(43, 41, 41);
    font-weight: bolder;
}

header .logo span{
    color:var(--tosca);
}

header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #555;
}

header .navbar a:hover{
    color:var(--tosca)
}

header .icons a{
    font-size: 2.5rem;
    color: #333;
    margin-left: 1.5rem;
}

header .icons a:hover{
    color:var(--tosca)
}

/* flex ukuran hp */

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 2.5rem;
    color: #333;
    border-radius: .5rem;
    padding:.5rem 1rem;
    cursor: pointer;
    border: 0.2rem solid rgba(0, 0, 0, 0.3);
    display: none;
}

@media (max-width:900px){
    html{
        font-size: 55%;
    }
    header{
        padding: 2rem;
    }
    section{
        padding: 2rem;
    }
}

@media (max-width:700px){
    header .fa-bars{
        display: block;
    }
    header .navbar{
        position: absolute;
        top: 100%; right: 0; left: 0;
        background: #eee;
        border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked ~ .navbar{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: 0.1rem solid rgba(0, 0, 0, 0.1);
        display: block;
    }
    .home .content h3{
        font-size: 5rem;
    }
    .home .content span{
        font-size: 2.5rem;
    }
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }
    .heading{
        font-size: 3rem;
    }
}

/* bagian home */

.home{
    display: flex;
    align-items: center;
    max-width: 100%;
    min-height: 100vh;
    background: url(../AdvanceMission/gambar1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 70rem;
}

.home .content h3{
    font-size: 6rem;
    color: #333;
}

.home .content span{
    font-size: 3.5rem;
    color:var(--tosca)
}

.home .content p{
    font-size: 1.5rem;
    color: #555;
    padding: 1rem 0;
    line-height: 1.3;
    margin-top: 1.5rem;
    
}

/* about */
.heading{
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 1rem 0;
    background: rgba(42, 172, 129, 0.2);
}

.heading span{
    color:var(--tosca)
}

.about .row{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}

.about .row .video-content{
    flex:1 1 40rem;
    position: relative;
}

.about .row .video-content video{
    width: 100%;
    border: 1.5rem solid #fff;
    border-radius: 0.5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
    height: 100%;
    object-fit: cover;
}

.about .row .video-content h3{
    position: absolute;
    top: 50%; transform: translateY(-50%);
    font-size: 3rem;
    background: #fff;
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
}

.about .row .content{
    flex: 1 1 40rem;
}

.about .row .content h3{
    font-size: 3rem;
    color: #333;
    margin-bottom: 1.5rem;
}

.about .row .content p{
    font-size: 1.5rem;
    color: #777;
    padding: 1.5rem 0;
    padding-top: 1rem;
    line-height: 1.3;
}

/* contact */

.contact .row{
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 1.5rem;
    align-items: center;
}

.contact .row form{
    flex:1 1 40rem;
    padding: 2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.1);
    border:0.1rem solid rgba(0, 0, 0, 0.1);
    background: #fff;
    border-radius: 0.5rem;
}

.contact .row .image{
    flex:1 1 40rem;
}

.contact .row .image img{
    width: 100%;
}

.contact .row form .box{
    padding:1rem;
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
    border:0.1rem solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    margin: 0.7rem 0;
    width: 100%;
}

.contact .row form .box:focus{
    border-color: var(--tosca);
}

.contact .row form textarea{
    height: 15rem;
    resize: none;
}

/* footer */
.footer .credit{
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.footer .credit span{
    color: var(--tosca);
}
